
    background= "#101510"

    error= "#ffb4ab"

    error_container= "#93000a"

    inverse_on_surface= "#2d322d"

    inverse_primary= "#2f6a43"

    inverse_surface= "#dfe4dc"

    on_background= "#dfe4dc"

    on_error= "#690005"

    on_error_container= "#ffdad6"

    on_primary= "#00391b"

    on_primary_container= "#b2f1c0"

    on_primary_fixed= "#00210d"

    on_primary_fixed_variant= "#13512d"

    on_secondary= "#223527"

    on_secondary_container= "#d2e8d4"

    on_secondary_fixed= "#0d1f13"

    on_secondary_fixed_variant= "#384b3c"

    on_surface= "#dfe4dc"

    on_surface_variant= "#c1c9bf"

    on_tertiary= "#01363f"

    on_tertiary_container= "#beeaf6"

    on_tertiary_fixed= "#001f26"

    on_tertiary_fixed_variant= "#214d57"

    outline= "#8b938a"

    outline_variant= "#414941"

    primary= "#96d5a6"

    primary_container= "#13512d"

    primary_fixed= "#b2f1c0"

    primary_fixed_dim= "#96d5a6"

    scrim= "#000000"

    secondary= "#b6ccb8"

    secondary_container= "#384b3c"

    secondary_fixed= "#d2e8d4"

    secondary_fixed_dim= "#b6ccb8"

    shadow= "#000000"

    source_color= "#52e78e"

    surface= "#101510"

    surface_bright= "#353a35"

    surface_container= "#1c211c"

    surface_container_high= "#262b26"

    surface_container_highest= "#313631"

    surface_container_low= "#181d18"

    surface_container_lowest= "#0a0f0b"

    surface_dim= "#101510"

    surface_tint= "#96d5a6"

    surface_variant= "#414941"

    tertiary= "#a2ced9"

    tertiary_container= "#214d57"

    tertiary_fixed= "#beeaf6"

    tertiary_fixed_dim= "#a2ced9"

